{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_title %}- Edit Service Request{% endblock %}

{% block meta_title %}- Update Service Request Details{% endblock %}

{% block meta_description %}Update your management accounting service request with Freaney Financial Services. Modify request details and update supporting documents securely.{% endblock %}

{% block meta_keywords %}, edit service request, update financial documents, modify request details, accounting service update{% endblock %}

{% block content %}
    <h1>Edit Service Request</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Service Request Details</h2>
        {{ form|crispy }}
        
        <h2>Update Document</h2>
        {{ document_form|crispy }}
        
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}

