{% extends "base.html" %}

{% block content %}
    <h1>Your Service Requests</h1>
    {% if service_requests %}
        <ul>
            {% for request in service_requests %}
                <li>
                    <a href="{% url 'service_request_detail' request_number=request.request_number %}">
                        {{ request.business_type }} - {{ request.status }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no service requests.</p>
    {% endif %}
    <a href="{% url 'create_service_request' %}" class="btn btn-primary">Create New Service Request</a>
{% endblock %}
