{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqRR/pvS8zF8wh8L2W8NAAx+z+woOWW/jkKaRnH6rJ3N0uFjpJ" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>FFS {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Bootstrap template -->
    <header class="p-3 text-bg-dark"> 
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <div class="text-end">
            <a href="{% url 'home' %}" class="btn btn-outline-light me-2">Home</a>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                  <a href="" class="btn btn-outline-light me-2">Management</a> <!-- UPDATE for Management/Admin -->
                {% endif %}
                <a href="{% url 'profile' %}" class="btn btn-outline-light me-2">My Profile</a>
                <a href="{% url 'create_service_request' %}" class="btn btn-outline-light me-2">New Service Request</a>
                <a href="{% url 'service_request_list' %}" class="btn btn-outline-light me-2">My Service Requests</a>
                <a href="{% url 'account_logout' %}" class="btn btn-outline-light me-2">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="btn btn-outline-light me-2">Register</a>
                <a href="{% url 'account_login' %}" class="btn btn-outline-light me-2">Login</a>
            {% endif %}
        </div>
        
        </div>
      </div>
    </header>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    
  </body>
</html>
